*{
  box-sizing: border-box;
}
body, h1, p{
  margin: 0;
  padding: 0;
}
.wrapper{
  width: 100%;
  height: 100vh;
}
.mainPageContents{
  width: 1280px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
h1{
  display: inline-block;
}
.mainlogo img{
  /*color: white;*/
  width: 200px;
}
.headerline{
  background: rgba(51, 49, 49, 0.73);
}
.header{
  display: flex;
  flex-direction: row;
  margin: 0 10%;
  padding:1.3rem 0;
  justify-content: space-between;
}
.pageLayout{
  display: flex;
}
.searchResultsArea{
  width: 80%;
  margin: 50px 0;
  display: inline-block;
}
.saveBook{
  width: 20%;
  background: pink;
  height: 100vh;
}
.saveBooksBtn{
  display: block;
  margin: 50px auto 0 auto;
  width: 150px;
  height: 30px;
}
.hidden, legend{
	position: absolute;
	left: -9999em;
}
form{
  display: flex;
  float: left;
}
.insertNickname{
  float: left;
  color: white;
}
.btn-login, .btn-sign, .logOutBtn{
  width: 80px;
  height: 25px;
  margin-left: 5px;
  border: 0;
  border-radius: 3px;
}
.btn-login, .mainAddBook, .search-btn, .logOutBtn, .saveBooksBtn, .plusBook{
  background: rgb(101, 189, 186);
  color: white;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.btn-sign{
  background: white;
}
.same-size{
  height: 25px;
  margin: 0 2px;
  border: 0;
  border-radius: 3px;
  padding-left: 5px;
}
.main-p{
  color: white;
  position: absolute;
  width: 500px;
  top: 40%;
  left: 10%;
  font-size: 1.3rem;
}
video {
   position: fixed;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   transform: translateX(-60%) translateY(-50%);
 }
.mainAddBook{
  width: 300px;
  height: 40px;
  margin-top: 10px;
}
.search-btn{
  width: 100px;
  height: 30px;
  margin: 0 15px;
}
.centerP{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchBarPosition{
  display: flex;
  justify-content: center;
  /*margin-top: 30px;*/
}
.resultsBookList{
  display: flex;
  width: 30%;
  margin-bottom: 15px;
  padding: 10px;
  border:1px solid #ccc;
  box-shadow:0 1px 1px;
  border-radius: 5px;
}
.resultsBookListP{
  margin-left: 10px;
}
.search-results{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-results{
  margin: 20px;
}
.nameColor{
  color: black;
}

/*메인페이지2*/
.mainTop{
  margin: 30px 0;
}
.bookViewTop, .mainTop{
  display: flex;
  justify-content: space-between;
}
.bookStorage{
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}
.bookList{
  display: flex;
  width: 30%;
  margin: 5px auto;
}
.bookListP{
  margin-left: 5px;
}
/*.plusBook{
  display: inline-block;
  text-align: center;
  width: 80px;
  line-height: 25px;
}*/
.viewWay{
  border: 0;
  background: white;
}
.bookViewBottom{
  margin: 30px 0;
}
