@import url(fonts.css);
*{
  box-sizing: border-box;
}
body{
  background: #f9f9f9;
}
body, h1, p{
  margin: 0;
  padding: 0;
}
.wrapper{
  width: 100%;
  /*height: 100vh;*/
}
@media screen and (min-width: 960px) {
.mainPageContents{
  width: 1200px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
h1{
  display: inline-block;
}
.mainlogo img{
  /*color: white;*/
  width: 200px;
}
.headerline{
  background: rgba(51, 49, 49, 0.73);
}
.header{
  width: 1200px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding:1.3rem 0;
  justify-content: space-between;
  /*position: fixed;*/
}
.pageLayout{
  display: flex;
}
.searchResultsArea{
  width: 80%;
  margin: 50px 0;
  display: inline-block;
}
.saveBook{
  width: 20%;
  background: pink;
  height: 100vh;
}
.saveBooksBtn{
  display: block;
  margin: 50px auto 0 auto;
  width: 150px;
  height: 30px;
}
.hidden, legend{
	position: absolute;
	left: -9999em;
}
form{
  display: flex;
  float: left;
}
.insertNickname{
  float: left;
  color: white;
}
.btn-login, .btn-sign, .logOutBtn{
  width: 80px;
  height: 25px;
  margin-left: 5px;
  border: 0;
  border-radius: 3px;
}
.btn-login, .mainAddBook, .search-btn, .logOutBtn, .saveBooksBtn, .plusBook{
  background: #198ea7;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.btn-sign{
  background: white;
}
.same-size{
  height: 25px;
  margin: 0 2px;
  border: 0;
  border-radius: 3px;
  padding-left: 5px;
}
.main-p{
  color: white;
  position: absolute;
  width: 500px;
  top: 40%;
  left: 10%;
  font-size: 1.3rem;
}
video {
   position: fixed;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: -100;
   transform: translateX(-60%) translateY(-50%);
 }
.mainAddBook{
  width: 300px;
  height: 40px;
  margin-top: 10px;
}
.search-btn{
  width: 100px;
  height: 30px;
  margin: 0 15px;
}
.centerP{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchBarPosition{
  display: flex;
  justify-content: center;
  /*margin-top: 30px;*/
}
.resultsBookList{
  display: flex;
  width: 30%;
  margin-bottom: 15px;
  padding: 10px;
  border:1px solid #ccc;
  box-shadow:0 1px 1px;
  border-radius: 5px;
}
.resultsBookListP{
  margin-left: 10px;
}
.search-results{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.search-results{
  margin: 20px;
}
.nameColor{
  color: black;
}

/*메인페이지2*/
.mainTop{
  margin: 30px 0;
}
.bookViewTop, .mainTop{
  display: flex;
  justify-content: space-between;
}
.book-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.bookList{
  width: 45%;
  display: flex;
  margin: 30px 0px;
  padding: 5px;
  background: white;
  border-radius: 1px;
  box-shadow: 2px 1px 1px 0px lightgray;
  position: relative;
  border-left: 20px solid #ececec;
  /*border-left: 30px solid red;*/
}
.fa-ellipsis-v{
  position: absolute;
  right: 10px;
  color: #ccc;
}
.bookListL{
  /*position: relative;*/
  padding-top: 30px;
  text-align: center;
}
.bookCover{
  box-shadow: 2px 2px 2px 0px gray;
  width: 142px;
  height: 213px;
}
.bookTitle{
  /*padding-top: 170px;*/
  font-size: 1.4rem;
  color: #181818;
  margin: 10px 0;
}
.bookAuthors{
  color: #888;
  font-family: 'Iropke Batang', serif;
  margin: 15px 0;
}
.bookReview{
  color: #999;
  font-family: 'Iropke Batang', serif;
  line-height: 2rem;
  margin: 20px 0;
}
.bookSaveDate{
  color: #888;
  font-family: 'Iropke Batang', serif;
  margin: 2px 0;
  padding-top: 5px;
  border-top: 1px solid #ccc;
}
.fa-star{
  color: rgb(249, 207, 57);
}
.bookListL{
  width: 30%;
}
.bookListR{
  width: 70%;
  padding: 15px;
}
.viewWay{
  border: 0;
  background: #f9f9f9;
  cursor: pointer;
}
.bookViewBottom{
  margin: 30px 0;
}
.listViewBook{
  width: 30%;
  text-align: center;
}
.bookStorage{
  margin-top: 20px;
}
.pager{
  height: 150px;
  padding-top: 10px;
}
.pageNumber{
  display: inline-block;
  border: 1px solid #ccc;
  line-height: 2.2rem;
  padding: 0 10px;
  border-radius: 3px;
}


}
