<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SooBook</title>
  <link rel="stylesheet" href="css/indexstyle3.css">
  <!--bulma 사용  -->
  <link rel="stylesheet" href="css/bulma.css">
  <!--bulma 폰트어썸 연결  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="js/testBookList.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="headerline">
      <header class="header">
        <a href="index.html" class="mainlogo">
          <img src="images/mainlogo2.png" alt="수북 로고, 클릭시 메인으로가기">
        </a>
        <div class="userArea">
          <p class="insertNickname">님 안녕하세요.</p>
          <button type="button" class="logOutBtn" onclick="logOut()">로그아웃</button>
        </div>
      </header>
    </div>
    <div class="mainPageContents" id="app">
      <!-- 권수 책장내 검색 -->
      <section class="mainTop">
        <p class="insertNickname nameColor">님 은 현재 <span class="aFewBooks">100권을</span> 읽으셨어요.</p>
        <div class="bookStorageSearchBar">
          <input type="text" class="bookStorageSearch">
          <button type="button" class="bookStorageSearchBtn"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </section>

      <div id="wrapper">
      <!-- 뷰순, 별점순, 편집, 책추가 -->
      <div class="bookViewTop">
        <div class="bookViewTopView">
          <select class="viewType">
            <option>등록순 보기</option>
            <option>별점순 보기</option>
          </select>
          <button type="button" class="viewWay" @click="selectDetailView"><i class="fa fa-th-list fa-2x" aria-hidden="true"></i></button>
          <button type="button" class="viewWay" @click="selectListView"><i class="fa fa-th fa-2x" aria-hidden="true"></i></button>
        </div>
        <div class="bookViewTopBtn">
          <a role="button" class="button is-warning is-outlined">편집</a>
          <a href="bookSearch.html" class="button is-warning">+책추가</a>
        </div>
      </div>

    <!-- <div id="wrapper"> -->
      <datatable :items="items"></datatable>
    </div>
    <template id="datatable">
      <div>
        <ul class="book-list" v-if="detailView">
              <li
              class="bookList"
              v-for="item in orderedList"
              @click="modalBook(book)">
                <div class="bookListL">
                  <img :src="item.thumbnail" class="bookCover">
                    <h5 class="bookTitle">{{ item.title }}</h5>
                    <p class="bookAuthors">{{ item.authors }}</p>
                    <!-- <p>{{ item.starRating }}</p> -->
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                    <i class="fa fa-star-o" aria-hidden="true"></i>
                </div>
                <div class="bookListR">
                  <p class="bookReview">{{ item.review }}</p>
                  <p class="bookSaveDate">{{ item.saveDate }}</p>
                </div>
              </li>
            </ul>
            <ul v-if="!detailView">
              <li
              class="listViewBook"
              v-for="item in orderedList"
              @click="modalBook(book)">
                  <img :src="item.thumbnail" class="bookCover">
                  <div>
                    <h5 class="bookTitle">{{ item.title }}</h5>
                    <p>{{ item.starRating }}</p>
                  </div>
              </li>
            </ul>
        <div class="pager">
          <a class="button" @click="previousPage" :class="{'inactive' : currentPage == 1}">previous</a>
          <p class="pageNumber">page {{currentPage}} of {{totalPage}}</p>
          <a class="button" @click="nextPage" :class="{'inactive' : currentPage == totalPage}">next</a>
        </div>
      </div>
    </template>

    </div>
  </div>
  <script src="js/mainPage.js"></script>
  <script src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
  <script>
    Vue.component('datatable',{
  template:"#datatable",
  props: ['items'],
  data: function() {
    return {
      pageSize: 6,
      currentPage: 1,
      totalPage: 0,
      showUpto: 6,
      showFromto: 0,
      detailView: true
    }
  },
  computed: {
    orderedList() {

      var list = this.items.slice(this.showFromto, this.showUpto);
      this.totalPage = Math.ceil(this.items.length / this.pageSize);
      return list;
    }
  },
   methods: {
    changeSelect:function(){
      this.showUpto = this.pageSize;
      this.currentPage = 1;
      this.showFromto = 0;
    },
    nextPage:function() {
      if (this.currentPage != this.totalPage){
        this.showFromto = (this.currentPage * this.pageSize) ;
        this.currentPage =  this.currentPage + 1;
        this.showUpto = (this.currentPage * this.pageSize);
      }
    },
    previousPage:function() {
      if (this.currentPage != 1){
        this.showFromto = ((this.currentPage - 2) * this.pageSize) ;
        this.currentPage =  this.currentPage - 1;
        this.showUpto = (this.currentPage * this.pageSize);
      }
    }
  },
})

var app = new Vue({
  el: "#wrapper",
  data: {
    items:books
  },
  methods: {
    selectListView: function(){
          this.detailView = false;
          console.log("listBtn 눌렀다!!");
          console.log("ListView에서 this:", this);
        },
        selectDetailView: function(){
          this.detailView = true;
          console.log("detailBtn 눌렀다!!");
          console.log("DetailView에서 this:", this);
        }
  }
});
// 리뷰 글자 짜르기
function textCut(txt ,len) {
  if (len == "" || len == null) { 
         len = 8;
     }
    if (txt.length > len) {
        txt = txt.substr(0, len) + '...';
    }
    return txt;
}

// 코드 리팩토링 필요!!!!!!!!!!!!!!!
var bookReviews = document.querySelectorAll('.bookReview');
var bookTitles = document.querySelectorAll('.bookTitle');
// console.log(bookReviews);
console.log(bookTitles);
for (var i = 0; i < bookReviews.length; i++) {
  // console.log(bookReviews[i].textContent);
  var bookReviewCut = textCut(bookReviews[i].textContent, 150);
  // console.log(bookReviewCut);
  bookReviews[i].textContent = bookReviewCut;
}

for (var i = 0; i < bookTitles.length; i++) {
  var bookTitleCut = textCut(bookTitles[i].textContent);
  bookTitles[i].textContent = bookTitleCut;
}

// 랜덤 색
var myColor = new Array('#EA9895', '#E3D4DA', '#B4BEBD', '#FFC140', '#3F7075', '#736069');
var borderBookCard;
borderBookCard = document.querySelectorAll('.bookList');
console.log(borderBookCard);
for (var i = 0; i < borderBookCard.length; i++) {
  borderBookCard[i].style.borderLeft = "50px solid"+ randomItem(myColor);
  console.log(randomItem(myColor));
}

function randomItem(color) {
  return color[Math.floor(Math.random() * color.length)];
}

  </script>
</body>
</html>
