<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>SooBook</title>
  <link rel="stylesheet" href="css/indexstyle.css">
  <!--bulma 사용  -->
  <link rel="stylesheet" href="css/bulma.css">
  <!--bulma 폰트어썸 연결  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="js/testBookList.js"></script>
</head>
<body>
  <div class="wrapper">
    <div class="headerline">
      <header class="header">
        <a href="index.html" class="mainlogo">
          <img src="images/mainlogo.png" alt="수북 로고, 클릭시 메인으로가기">
        </a>
        <div class="userArea">
          <p class="insertNickname">님 안녕하세요.</p>
          <button type="button" class="logOutBtn" onclick="logOut()">로그아웃</button>
        </div>
      </header>
    </div>
    <div class="mainPageContents" id="app">
      <!-- 권수 책장내 검색 -->
      <section class="mainTop">
        <p class="insertNickname nameColor">님 은 현재 <span class="aFewBooks">100권을</span> 읽으셨어요.</p>
        <div class="bookStorageSearchBar">
          <input type="text" class="bookStorageSearch">
          <button type="button" class="bookStorageSearchBtn"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
      </section>

      <div id="wrapper">
      <!-- 뷰순, 별점순, 편집, 책추가 -->
      <div class="bookViewTop">
        <div class="bookViewTopView">
          <select class="viewType">
            <option>등록순 보기</option>
            <option>별점순 보기</option>
          </select>
          <button type="button" class="viewWay" @click="selectDetailView"><i class="fa fa-th-list fa-2x" aria-hidden="true"></i></button>
          <button type="button" class="viewWay" @click="selectListView"><i class="fa fa-th fa-2x" aria-hidden="true"></i></button>
        </div>
        <div class="bookViewTopBtn">
          <a class="button is-primary is-outlined">편집</a>
          <a role="button" href="bookSearch.html" class="button is-primary">+책추가</a>
        </div>
      </div>

    <!-- <div id="wrapper"> -->
      <datatable :items="items"></datatable>
    </div>
    <template id="datatable">
      <div>
        <ul class="book-list">
              <li
              class="bookList"
              v-for="item in orderedList"
              @click="modalBook(book)"
              v-if="detailView">
                  <img :src="item.thumbnail" class="bookCover">
                  <div class="bookListP">
                    <h5 class="bookTitle">{{ item.title }}</h5>
                    <p>{{ item.authors }}</p>
                    <p>{{ item.starRating }}</p>
                    <p>{{ item.review }}</p>
                    <p>{{ item.saveDate }}</p>
                  </div>
              </li>

              <li
              class="listViewBook"
              v-for="item in orderedList"
              @click="modalBook(book)"
              v-if="!detailView">
                  <img :src="item.thumbnail" class="bookCover">
                  <div>
                    <h5 class="bookTitle">{{ item.title }}</h5>
                    <p>{{ item.starRating }}</p>
                  </div>
              </li>
            </ul>
        <div class="pager">
          <a class="pagination-previous" @click="previousPage" :class="{'inactive' : currentPage == 1}">previous</a>
          page {{currentPage}} of {{totalPage}} <a class="pagination-next" @click="nextPage" :class="{'inactive' : currentPage == totalPage}">next</a>
        </div>
      </div>
    </template>

    </div>
  </div>
  <script src="js/mainPage.js"></script>
  <script src="https://unpkg.com/vue@2.1.6/dist/vue.js"></script>
  <script>
    Vue.component('datatable',{
  template:"#datatable",
  props: ['items'],
  data: function() {
    return {
      pageSize: 9,
      currentPage: 1,
      totalPage: 0,
      showUpto: 9,
      showFromto: 0,
      detailView: true
    }
  },
  computed: {
    orderedList() {

      var list = this.items.slice(this.showFromto, this.showUpto);
      this.totalPage = Math.ceil(this.items.length / this.pageSize);
      return list;
    }
  },
   methods: {
    changeSelect:function(){
      this.showUpto = this.pageSize;
      this.currentPage = 1;
      this.showFromto = 0;
    },
    nextPage:function() {
      if (this.currentPage != this.totalPage){
        this.showFromto = (this.currentPage * this.pageSize) ;
        this.currentPage =  this.currentPage + 1;
        this.showUpto = (this.currentPage * this.pageSize);
      }
    },
    previousPage:function() {
      if (this.currentPage != 1){
        this.showFromto = ((this.currentPage - 2) * this.pageSize) ;
        this.currentPage =  this.currentPage - 1;
        this.showUpto = (this.currentPage * this.pageSize);
      }
    }
  },
})

var app = new Vue({
  el: "#wrapper",
  data: {
    items:books
  },
  methods: {
    selectListView: function(){
          this.detailView = false;
          console.log("listBtn 눌렀다!!");
          console.log("ListView에서 this:", this);
        },
        selectDetailView: function(){
          this.detailView = true;
          console.log("detailBtn 눌렀다!!");
          console.log("DetailView에서 this:", this);
        }
  }
});

  </script>
</body>
</html>
